@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


body{
    background-color: #F6F7F8;
}